<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Serve static files in public/ directly by IIS -->
      <add name="StaticFile-public" path="assets/*" verb="GET,HEAD" modules="StaticFileModule" resourceType="File" />
      <add name="StaticFile-favicon" path="vite.svg" verb="GET,HEAD" modules="StaticFileModule" resourceType="File" />
      <!-- All other requests go to Node -->
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <rewrite>
      <rules>
        <!-- Rewrite /assets/* to physical path public/assets/* -->
        <rule name="StaticAssets" stopProcessing="true">
          <match url="^(assets/.+)$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
        <rule name="StaticViteSvg" stopProcessing="true">
          <match url="^vite\.svg$" />
          <action type="Rewrite" url="public/vite.svg" />
        </rule>
      </rules>
    </rewrite>
    <httpPlatform processPath="node"
                  arguments="dist/src/main.js"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%home%\LogFiles\node.log"
                  startupTimeLimit="60"
                  requestTimeout="00:04:00">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
